body{
    /* background-color: ivory; */

}

.card{
    border:none
}

.product{
    background-color: aliceblue;
    /* added to ensure that you could still see the text on the aliceblue background since that actually doesn't flip with darkmode */
    color: #0A1042;
}

.brand{
    font-size: 13px
}

.act-price{
    /* original color was red then black but no to yellow because it was good for the navy but it's terrible on about everything else */
    /* color: yellow; */
    font-weight: 700
}

.dis-price{
    text-decoration: line-through
}

.about{
    font-size: 14px
}

.color{
    margin-bottom:10px
}

label.radio{
    cursor: pointer
}

label.radio input{
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio span{
    padding: 2px 9px;
    border: 2px solid black;
    display: inline-block;
    color: black;
    border-radius: 3px;
    text-transform: uppercase
}

label.radio input:checked+span{
    border-color: black;
    background-color: black;
    color: #fff
}

.btn-danger{
    background-color: black !important;
    border-color: black !important
}

.btn-danger:hover{
    background-color: powderblue !important;
    border-color: black !important
}

.btn-danger:focus{
    box-shadow: none
}

.cart i{
    margin-right: 10px
}

.image{
    width: 20px;
    height: 20px;
}

.image2{
    width: 30px;
    height: 30px;
}

#main-image{
    height: fit-content;
}
.form-select {
    max-width:40%;
    justify-content: center;
    align-items: center;
}

.option-menu{
    text-align: center;
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    }
    
    .number-input input[type=number]::-webkit-inner-spin-button,
    .number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    }
    
    .number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
    }
    
    .number-input button:before,
    .number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
    }
    
    .number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
    }
    
    .number-input input[type=number] {
    text-align: center;
    }
    /* if you want to change those buttons, you have to edit the other one to match this one so it actually takes effect */
    .number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
    }
    
    .number-input.number-input button.minus {
    padding-left: 10px;
    /* display: flex; */
    }
    
    .number-input.number-input button:before,
    .number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
    }
    
    /* this one is the one that needs to match */
    .number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color:transparent) {
    
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
    margin-top: -.3rem;
    }
    }
    }
    
    .shopping-cart .def-number-input.number-input {
    border: none;
    }
    
    .shopping-cart .def-number-input.number-input input[type=number] {
    max-width: 2rem;
    border: none;
    }
    
    .shopping-cart .def-number-input.number-input input[type=number].black-text,
    .shopping-cart .def-number-input.number-input input.btn.btn-link[type=number],
    .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:hover,
    .shopping-cart .def-number-input.number-input input.md-toast-close-button[type=number]:focus {
    color: #212529 !important;
    }
    
    .shopping-cart .def-number-input.number-input button {
    width: 1rem;
    }
    
    .shopping-cart .def-number-input.number-input button:before,
    .shopping-cart .def-number-input.number-input button:after {
    width: .5rem;
    }
    
    .shopping-cart .def-number-input.number-input button.minus:before,
    .shopping-cart .def-number-input.number-input button.minus:after {
    background-color: #9e9e9e;
    }
    
    .shopping-cart .def-number-input.number-input button.plus:before,
    .shopping-cart .def-number-input.number-input button.plus:after {
    background-color: #4285f4;
    }