/* some lines in App were commented out in App.css because I didn't want these being overwritten when applying dark mode */
/* #60AEE8 a light sea-ish blue that could work 
    #ABD4F1 same deal but slightly lighter
    #A29FCD light purple, technically legible, not a fav tho

*/
:root {
    --font-color: #0A1042;
    --background-color: #CEE9FC ;
    --link-color: #0A1042;
  }
  
  /* 2  #eee and #333*/
  [data-theme="dark"] {
    --font-color: #60AEE8;
    --background-color: #0A1042;
    --link-color: #60AEE8;
  }
  
  /* 3 */
  body {
    background-color: var(--background-color);
    color: var(--font-color);
  }
  
  a {
    color: var(--link-color);
  }

  /* Custom Dark Mode Toggle Element */
.toggle-theme-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 40px;
    width: 20px;

    
  }

  .toggle-theme-wrapper > svg {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    display: block;
  }

  
  .toggle-theme-wrapper span {
    font-size: 28px;
  }
  
  .toggle-theme {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 60px;
  }
  
  .toggle-theme input {
    display: none;
  }
  /* below is not being used in any capacity as there is no longer a slider */
  .slider {
    background-color: #ccc;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.2s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  input:checked + .slider {
    background-color: cornflowerblue;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
